/* src/components/SubscriptionList.css */

.subscription-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.subscription-container h3 {
    margin-top: 0;
}

.subscription-container ul {
    list-style-type: none;
    padding: 0;
}

.subscription-container li {
    margin-bottom: 5px;
}

.edit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 10px;
}

.remove-button {
    background-color: #dc3545;
    margin-left: 10px;
    font-size: 16px;
    border-radius: 4px;
    padding: 5px 10px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.modal-content label {
    display: block;
    margin-bottom: 5px;
}

.modal-content input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.modal-content button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 4px;
}

.close-button {
    background-color: #f53044 !important;
    margin-left: 10px;
}